.buttons,
.main-home .profile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    /*    justify-content: space-between;*/
}

.main-home .profile {
    align-items: left;
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - (var(--gap) * 2));
    text-align: left;
}

.profile .profile_inner{
    padding: 12px 2em 0px 0px;
    max-width: 20em;
    margin: 0px 0;
    text-align: center;
}

.profile .profile_outer{
    padding: 12px 1em;
    margin: 0px 0;
    max-width:  calc(var(--main-width)*0.66 + var(--gap) * 2);
    text-align: left;
}

.profile .profile_inner h1 {
    padding: 12px 0;
    margin: 0px 0;
    text-align: center;
    flex-basis: 100%;
}

.profile .profile_inner h2 {
    padding: 8px 0;
    margin: 0px 0;
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
}

.profile .profile_inner h3 {
    padding: 4px 0;
    margin: 0px 0;
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
}

.profile img {
    display: inline-table;
    border-radius: 50%;
}

.buttons {
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0 auto;
}

.button {
    background: var(--tertiary);
    border-radius: var(--radius);
    margin: 8px;
    padding: 6px;
    transition: transform 0.1s;
}

.button-inner {
    padding: 0 8px;
}

.button:active {
    transform: scale(0.96);
}
